h1,
.brand-logo,
nav li,
footer {
  font-family: "Gruppo", cursive;
  line-height: 54px;
}
.nav-wrapper {
  width: 70%;
  margin: 0 auto;
}
a {
  color: #00bfa5;
}
h1 {
  font-family: "Gruppo", cursive;
  font-size: 54px;
}
h2 {
  font-family: "Gruppo", cursive;
  font-size: 20pt;
  padding: 20px;
  margin: 0px 20px;
}
h3 {
  display: inline-block;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-bottom: 50px;
  font-family: "Catamaran", sans-serif;
  color: #2b5c59;
  font-size: 18pt;
}

#button,
#resetButton {
  font-family: "Catamaran", sans-serif;
  border-radius: 12px;
  padding: 15px 32px;
  background-color: white;
  color: #4aaaa5;
  font-size: 18pt;
}
#button {
  margin-left: 46%;
}
#timer {
  font-family: "Gruppo", cursive;
  font-size: 54px;
  color: #4aaaa5;
  text-align: center;
}

.questions {
  font-family: "Catamaran", sans-serif;
  color: #2b5c59;
  font-size: 18pt;
  padding-top: 20px;
  text-align: center;
}
.answerButton {
  border: none;
  padding: 15px 32px;
  background-color: #fff;
  color: #4aaaa5;
  font-size: 18pt;
  width: 100%;
}
.answerButton:hover {
  background-color: #4aaaa5;
  color: #fff;
}

#finalScores {
  font-family: "Catamaran", sans-serif;
  color: #2b5c59;
  font-size: 18pt;
  padding-top: 10px;
  text-align: center;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  object-fit: contain;
  padding: 10px;
}
