header {
  background: #fff;
  border-bottom: solid;
  border-bottom-width: 100%;
  border-color: #cccccc;
  height: 77px;
  width: 100%;
}

nav {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
  size: 18pt;
  float: right;
  padding-top: 30px;
  margin-right: 100px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  padding: 0px 25px 0px 25px;
  border-right: 1px solid #dddddd;
}

li:last-child {
  border-right: none;
}

a:link {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
  text-decoration: none;
}
a:visited {
  color: #4aaaa5;
}
a :hover {
  color: #ffce6e;
}

h1 {
  font-family: "Georgia", Times, Times New Roman, serif;
  color: #4aaaa5;
  text-align: center;
  font-size: 50pt;
  padding: 20px 20px 0px 20px;
}
h2 {
  font-size: 30pt;
  padding: 20px;
  margin: 0px 20px;
}
h3 {
  display: inline-block;
}
body {
  background: #dddddd;
  background: url(../images/fishnets-and-hearts.png);
  margin: 0px;
}
main {
  background: #fff;
  width: 960px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}

#button,
#resetButton {
  border-radius: 12px;
  padding: 15px 32px;
  background-color: white;
  color: #4aaaa5;
  font-size: 18pt;
}
#button {
  margin-left: 46%;
}
#timer {
  font-family: "Georgia", Times, Times New Roman, serif;
  color: #4aaaa5;
  font-size: 38pt;

  text-align: center;
}
main {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.questions {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #2b5c59;
  font-size: 18pt;
  padding-top: 20px;
  text-align: center;
}
.answerButton {
  margin-left: 0%;
  margin-right: 0%;
  border: none;
  padding: 15px 32px;
  background-color: #fff;
  color: #4aaaa5;
  font-size: 18pt;
  width: 100%;
}
.answerButton:hover {
  background-color: #4aaaa5;
  color: #fff;
}

#finalScores {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #2b5c59;
  font-size: 18pt;
  padding-top: 10px;
  text-align: center;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  object-fit: contain;
  padding: 10px;
}
